.sectionFooter {
  background: #292930;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.containerMax {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  color: white;
  gap: 20px;
  padding: 20px;
}

.principal {
  background: #3c3c45;
  padding: 20px;
  box-shadow: 0 0 5px 0 black;
}

.secondary {
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 5px 0 black;
}

.containerNumber {
  color: #ffdc60;
}

.number {
  color: #ffdc60;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 156.5%; /* 39.125px */
  margin: 0;
  text-decoration: none;
}

.anchor {
  text-decoration: none;
}
.email {
  color: #fff;

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 156.5%; /* 28.17px */
  background: none;
  border: none;
  margin: 10px 0;
}

.btnCustom {
  width: auto;
  background: #3c3c45;
  border: none;
  padding: 15px 25px;
  margin: 10px 0;
  cursor: pointer;
}

.titleContacto {
  font-size: 2.2rem;
  margin: 10px 0;
  cursor: pointer;
}
