.btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  background: transparent;
  border-radius: 7px;
  text-decoration: none;
  color: black;
}

.btn:hover {
  cursor: pointer;
}

.dark {
  background: #292930;
  color: white;
}
